$default-background-color: #282c34;
$default-border: 4px solid #cecece;
$default-color: white;
$default-padding: 10px;

.App {

  border: $default-border;
  background-color: $default-background-color;
  color: $default-color;

}

body {

  padding: $default-padding;

}